:root {
  --font-size: 14px;
  --radius: 0.625rem;
  --card: #fff;
  --card-foreground: oklch(0.145 0 0);
  --spacing: 0.25rem;
}

body {
  background-color: #ebeff5;
}

/* General rules */
.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

/* Header rules */
header {
  margin: 14px 98px 0px;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
  color: oklch(0.373 0.034 259.733);
}

/* Cards rules */
#cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
